/* Reset and Base Styles */
@import url("theme_variables.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--paragraph-color);
    background-color: var(--background-color);
}

header {
    background: var(--background-color);
    color: var(--headline-color);
    padding: 20px 10px;
    text-align: center;
    margin: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: var(--headline-color);
}

header p {
    font-size: 1.2em;
    margin-top: 5px;
    color: var(--paragraph-color);
}

nav {
    background: var(--background-color);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--button-background);
    padding: 10px 15px;
    border: 3px solid var(--button-background);
    border-radius: 6px;
    box-shadow: 
      0px 4px 4px #00000030, 
      0px 12px 12px #00000015;
    background: var(--background-color);
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background: var(--button-hover-background);
    color: var(--button-text);
    transform: translateY(-8px);
    transition: var(--transition);
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: var(--background-color);
    color: var(--paragraph-color);
    margin: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
