/* Theme Variables */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
    --background-color: #f9f4ef;
    --headline-color: #020826;
    --paragraph-color: #716040;
    --button-background: #8c7851;
    --button-text: #fffffe;
    --button-hover-background: #716040;

    --ff: "Montserrat", sans-serif;

    --h1: bold 1.125rem/1.4em var(--ff);
    --h2: bold 1rem/1.4em var(--ff);
    --p: 1rem/1.4em var(--ff);
    --p2: .875rem/1.4em var(--ff);

    --gray100: hsl(0,0%,100%);
    --gray70: hsl(0,0%,70%);
    --gray0: hsl(0,0%,0%);

    --transition: 0.3s ease-in-out;
}
